<div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <img
          class="d-inline-block mb-3"
          src='/assets/images/finger-print-icon.svg'
          alt="Finger Print"
        />
        <h2 class="h4">Select a Character</h2>
        <p class="sub-text">
          View your favorite Star Wars character info
          <br />
          such as their traits, movies and more.
        </p>

        <img
          class="d-inline-block"
          src='/assets/images/arrow-down-long-grey-icon.svg'
          alt="Down Arrow"
        />
      </div>
    </div>
    <!-- <CharacterCardList characters={this.state.characters} /> -->
  </div>