<div class="container">
    <nav id="main-nav" class="navbar navbar-expand-lg">
      <a class="navbar-brand" href="/">
      <img
            src="assets/images/adp-starwars-logo.svg"
            alt="ADP StarWars"
          />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon" ></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav  ml-md-auto ">
          <li class="nav-item active">
            <a routerLink="/characters" class="nav-link" href="#">
              Home <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about">
              About
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  target="_blank" rel="noopener noreferrer" href="https://github.com/afrozek/ang-adp-starwars">
              Github
            </a>
          </li>
       

        </ul>
      </div>
    </nav>
  </div>