#main-page {
    background: #202020;
    background-image: url('/assets/images/starwars-main-bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: auto;
    
}