    <ul *ngIf="!selectedMovie" class="film-list">
        <span>
          <img src="/assets/images/play-circle-white-icon.svg" alt="Play" />
        </span>
        <h3 class="list-heading">Films</h3>

            <li *ngFor="let movie of movies">
              <a (click)="selectedMovie = movie">
                {{movie.title}}
                <img src="/assets/images/arrow-right-circle-icon.svg" alt="Arrow" />
              </a>
            </li>
         
      </ul>

      


      




      <div *ngIf="selectedMovie">
           
           <ul class="film-detail-list">
               <li>
                   <span class="item-heading">
                       Title
                   </span>
                   <span class="item-content">
                        {{selectedMovie.title}}
                   </span>
                   
               </li>
                <li>
                    <span class="item-heading">
                            Sypnosis
                    </span>
                   <span class="item-content small-light-text">{{selectedMovie.opening_crawl}}</span>
               </li> 
               <li>
                   <span class="item-heading">
                        Director
                   </span>
                   <span class="item-content">
                        {{selectedMovie.director}}
                   </span>
               </li>
               <li>
                   <span class="item-heading">
                        Producer
                   </span>
                   <span class="item-content">
                        {{selectedMovie.producer}}
                   </span>
               </li>
               <li>
                   <span class="item-heading">
                        Release Date
                   </span>
                   <span class="item-content">
                        {{selectedMovie.release_date | date: 'fullDate'}}
                   </span>
               </li>
           </ul>
           <span class="back-btn" (click)="selectedMovie=null">Back to Films List</span>

       </div>