    <ul *ngIf="!selectedMovie" class="film-list">
        <span>
          <img src="/assets/images/play-circle-white-icon.svg" alt="Play" />
        </span>
        <h3 class="list-heading">Films</h3>

            <li *ngFor="let movie of movies">
              <a (click)="selectedMovie = movie">
                {{movie.title}}
                <img src="/assets/images/arrow-right-circle-icon.svg" alt="Arrow" />
              </a>
            </li>
         
      </ul>

      


      




      <div *ngIf="selectedMovie">
            <h3>
            {{selectedMovie.title}} 
            </h3>
           <div>

           </div>
           <ul>
               <li>
                   Title: {{selectedMovie.title}}
               </li>
                <li>
                   Sypnosis: {{selectedMovie.opening_crawl}}
               </li> 
               <li>
                   Director: {{selectedMovie.director}}
               </li>
               <li>
                   Producer: {{selectedMovie.producer}}
               </li>
               <li>
                   <!-- Release Date: {moment(this.state.selectedMovie.release_date).format("dddd, MMMM D YYYY")}} -->
               </li>
           </ul>
           <span class="back-btn" (click)="selectedMovie=null">Back to Films List</span>

       </div>