/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

html, body{
    height: 100%;    
}

body {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 14px;
    -webkit-font-smoothing: initial;
}

.sub-text {
    font-family: Montserrat-Regular;
    font-size: 12px;
    color: #C6C6C6;
    letter-spacing: 0;
    text-align: center;
}

