/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

html, body{
    height: 100%;    
}

body {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 14px;
    -webkit-font-smoothing: initial;
}

.sub-text {
    font-family: Montserrat-Regular;
    font-size: 12px;
    color: #C6C6C6;
    letter-spacing: 0;
    text-align: center;
}

a.cardAnchor {
    transition: .3s;
    display: block;
}

a.cardAnchor:hover {
    text-decoration: none;
    transform: scale(1.02);
    display: block;
    transition: .3s;
}

.card-container {
    .card {
        background: url('/assets/images/card-oval-mask.svg'), linear-gradient(180deg, #A65249 0%, #9B251B 100%);
        background-position: bottom right;
        // background-size: cover;
        background-repeat: no-repeat;
        box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.50);
        border-radius: 8px;
        height: 340px;
        padding: 20px;
        display: block;
        border: none;
        position: relative;
        .cardImg {
            position: absolute;
            right: -5px;
            top: 5px;
        }
        .card-label {
            opacity: 0.75;
            font-family: Montserrat-Regular;
            font-size: 10px;
            color: #FFFFFF;
            letter-spacing: 1px;
            display: block;
        }
        .card-heading {
            font-family: Montserrat-Bold;
            font-size: 16px;
            color: #FFFFFF;
            letter-spacing: 0;
            position: relative;
            z-index: 99;
        }
    }
}

.select-btn {
    background-image: linear-gradient(172deg, #000000 0%, #393939 100%);
    box-shadow: 0 2px 20px 0 rgba(255, 99, 99, 0.5);
    border-radius: 30px;
    display: block;
    position: relative;
    top: 150px;
    padding: 15px;
    text-align: center;
    color: white;
    font-family: Montserrat-Regular;
    font-size: 12px;
    color: #FFFFFF;
    letter-spacing: 5px;
    text-align: center;
    text-transform: uppercase;
    img {
        position: absolute;
        right: 18px;
        top: 18px;
    }
}

.character-detail-card {
    background: url('/assets/images/card-detail-overlay-bg.svg'), linear-gradient(180deg, #A65249 0%, #9B251B 100%);
    box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.50);
    border-radius: 8px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 500px;
    margin-bottom: 50px;
    padding: 30px 70px;
}

.character-detail-list {
    list-style: none;
    li {
        margin: 15px 0px;
    }
    .item-heading {
        opacity: 0.75;
        font-family: Montserrat-Regular;
        font-size: 10px;
        color: #FFFFFF;
        letter-spacing: 1px;
        display: block;
        text-transform: uppercase;
    }
    .item-content {
        font-family: Montserrat-Bold;
        font-size: 16px;
        color: #FFFFFF;
        letter-spacing: 0;
        position: relative;
        z-index: 99;
        display: block;
    }
}

.film-list {
    list-style: none;
    display: inline-block;
    float: left;
    min-width: 260px;

    .list-heading {
            opacity: 0.75;
            font-family: Montserrat-Regular;
            font-size: 10px;
            color: #FFFFFF;
            letter-spacing: 1px;
            display: block;    
            text-transform: uppercase;   
            margin-top: 15px; 
    }


    li {
        display: block;
        margin: 8px 0px;
    }
    a {
        display: block;
        background: rgba(0, 0, 0, 0.36);
        border-radius: 16px;
        padding: 8px 20px;
        font-family: Montserrat-Regular;
        font-size: 12px;
        color: #FFFFFF;
        letter-spacing: 0;
        transition: .3s;


        img {
            float: right;
            position: relative;
            top: 3px;
            margin-left: 15px;
        }

        &:hover {
            cursor: pointer;
            text-decoration: none;
            color: white;
            background: rgba(0, 0, 0, 0.7);

        }

        
    }
}

.back-btn {
    display: inline-block;
    background: rgba(0, 0, 0, 0.36);
    border-radius: 16px;
    padding: 8px 20px;
    font-family: Montserrat-Regular;
    font-size: 12px;
    color: #FFFFFF;
    letter-spacing: 0;
    transition: .3s;
    margin-top: 10px;

    &:hover {
        cursor: pointer;
        text-decoration: none;
        color: white;
        background: rgba(0, 0, 0, 0.7);

    }

}